@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --light: #ffcc00;
  --ultra: #bfdfed;
  --dark: #113443;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

h1,
h3 {
  font-family: "Krona One", sans-serif;
}
*::selection {
  background: var(--light);
  color: var(--dark);
}
html {
  font-size: 1.5em;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1rem 10%;
  padding-top: 8.5rem;
}

body {
  overflow-x: hidden;
  height: 200rem;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: var(--light);
}
html::-webkit-scrollbar-thumb {
  background: var(--dark);
}

.btn {
  font-size: 1.2rem;
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  margin-top: 1rem;
  background: none;
  color: #113443;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btn:hover {
  background: #ffcc00;
  outline: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  padding: 1.5rem 10%;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  height: 100%;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 3rem;
}

header .navbar ul li a {
  font-size: 1.2rem;
  color: var(--dark);
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--light);
  font-weight: 700;
  transition: 0.5s;
}

header #menu-bar {
  font-size: 2.5rem;
  color: var(--light);
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.home::before,
.home::after {
  content: "";
  position: absolute;
  top: 10rem;
  right: -6rem;
  background: #ffcc00;
  border-radius: 3rem;
  transform: rotate(-125deg);
  height: 20rem;
  width: 60rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: -2;
  animation: animte 1.5s linear 1;
}

@keyframes animte {
  0% {
    transform: rotate(125deg) translateY(-40rem);
  }
}

.home::before {
  top: -7rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: -1;
}

.home .image {
  flex: 1 1 31rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 31rem;
}

.home .content h3 {
  color: var(--ultra);
  font-size: 4rem;
}

.home .content p {
  color: var(--dark);
  font-size: 1.3rem;
  padding: 1rem 0;
}

/* ================================================================================================================== */
/* Media Queries */

@media (max-width: 991px) {
  html {
    font-size: 100%;
  }
  .home::before,
  .home::after {
    display: none;
  }
}

@media (max-width: 768px) {
  header .logo img {
    height: 50%;
    margin-left: -70px;
  }
  header #menu-bar {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background: var(--ultra);
    border-top: 2rem solid #113443;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: 1s;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }
  header .navbar ul li {
    margin: 1.5rem;
    width: 100%;
  }
  header .navbar ul li a {
    font-size: 2.5rem;
    display: block;
    color: var(--dark);
    padding-left: 2rem;
    border-left: 0.2rem solid #113443;
  }
  header .navbar ul li a:hover,
  header .navbar ul li a.active {
    border-left: 8px solid #ffcc00;
  }
  .fa-times {
    transform: rotate(180deg);
    transition: 1s;
  }
  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
    transition: 1s;
  }
  .home .content {
    text-align: center;
  }
  .home .content h3 {
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 80%;
  }
  .home .content h3 {
    color: #ffcc00;
  }
  header .logo img {
    width: 50%;
    margin-left: 5px;
  }
}
