@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --light: #ffcc00;
  --ultra: #bfdfed;
  --dark: #113443;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

h1,
h2 {
  font-family: "Krona One", sans-serif;
}
*::selection {
  background: var(--light);
  color: var(--dark);
}
html {
  font-size: 1.5em;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1rem 10%;
  padding-top: 5.5rem;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 200rem;
}

html::-webkit-scrollbar {
  width: 1.4rem;
}

html::-webkit-scrollbar-track {
  background: var(--light);
}
html::-webkit-scrollbar-thumb {
  background: var(--dark);
}

.btn {
  width: 250px;
  font-size: 1.4rem;
  padding: 10px 10px;
  border-radius: 5rem;
  margin-top: 1rem;
  background: none;
  color: #113443;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.btn:hover {
  background: #ffcc00;
  font-weight: 500;
  color: #fff;
  outline: none;
}

.btn:active {
  transform: translateY(6px);
}

.heading {
  text-align: center;
  font-size: 3rem;
  padding: 0 0.5rem;
  color: #113443;
}
.heading span {
  font-family: "Krona One", sans-serif;
  color: #ffcc00;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  padding: 1rem 10%;
  box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo img {
  height: 100%;
}

header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

header .navbar ul li {
  margin-left: 3rem;
}

header .navbar ul li a {
  font-size: 1.2rem;
  color: var(--dark);
}
header .navbar ul li a.active,
header .navbar ul li a:hover {
  color: var(--light);
  font-weight: 700;
  transition: 0.5s;
}

header #menu-bar {
  font-size: 2.5rem;
  color: var(--light);
  cursor: pointer;
  display: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.home::before,
.home::after {
  content: "";
  position: absolute;
  top: 10rem;
  right: -6rem;
  background: #ffcc00;
  border-radius: 3rem;
  transform: rotate(-125deg);
  height: 20rem;
  width: 60rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: -2;
  animation: animte 1.5s linear 1;
}

@keyframes animte {
  0% {
    transform: rotate(125deg) translateY(-40rem);
  }
}

.home::before {
  top: -7rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: -1;
}

.home .image {
  flex: 1 1 31rem;
}

.home .image img {
  width: 100%;
}

.home .content {
  flex: 1 1 31rem;
}

.home .content h3 {
  color: var(--ultra);
  font-size: 4rem;
}

.home .content p {
  color: var(--dark);
  font-size: 1.3rem;
  padding: 1rem 0;
}

.fur {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fur .image {
  flex: 1 1 30rem;
  height: 30rem;
  background: url(../img/frame.webp), url(../img/kitty-03.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: screen;
}

.fur .content {
  flex: 1 1 32rem;
  padding: 2rem;
}

.fur .content h3 {
  font-size: 3rem;
  color: #ffcc00;
}

.fur .content p {
  font-size: 1rem;
  color: var(--dark);
  padding: 1rem 0;
}

.sleep .list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0.4rem 0;
  margin: 2rem 0;
  border-top: 0.2rem dashed rgba(0, 0, 0, 0.2);
  border-bottom: 0.2rem dashed rgba(0, 0, 0, 0.2);
}

.sleep .list .btn {
  text-align: center;
  width: 250px;
  margin: 1rem;
}
.sleep .list .btn.active,
.sleep .list .btn:hover {
  background: var(--light);
  color: #fff;
}

.sleep .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sleep .row .image {
  margin: 2rem;
  padding: 1rem;
  flex: 1 1 40rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: -1;
}

.sleep .row .image img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.sleep .row .content {
  flex: 1 1 40rem;
}

.sleep .row .content .info {
  padding: 1rem 0;
}

.sleep .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 2rem;
  color: var(--ultra);
}

.sleep .row .content .info h3 span {
  padding-right: 1rem;
  color: #ffcc00;
}

.sleep .row .content .info p {
  padding: 0.5rem 0;
  padding-left: 4rem;
  font-size: 1rem;
  color: var(--dark);
}
.toys {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.9)
    ),
    url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.toys .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.toys .box-container .box {
  background: #fff;
  width: 27rem;
  padding: 2rem;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-align: center;
}

.toys .box-container .box img {
  height: 24rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.toys .box-container .box h3 {
  color: var(--ultra);
  font-size: 2rem;
  font-weight: 500;
}

.toys .box-container .box .stars i {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  color: #ffcc00;
}

.toys .box-container .box .price {
  font-size: 2rem;
  color: red;
  font-weight: 700;
}

.toys .box-container .box:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Food Page */

.food {
  width: 100%;
  padding: 6rem 2rem 0;
}

.food .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.food .box-container .box {
  background: #fff;
  width: 30%;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  padding: 15px;
  margin: 15px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-align: center;
}

.food .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  z-index: -2;
}

.food .box-container .box h3 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
  opacity: 0;
}

.food .box-container .box:hover h3 {
  top: 40%;
  opacity: 1;
  transition-delay: 0.5s;
}

.food .box-container .box::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.5s linear;
  z-index: 1;
}

.food .box-container .box:hover::before {
  top: 0;
}

.food .box-container .box .stars i {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem;
  color: #ffcc00;
}

.food .box-container .box .price {
  font-size: 2rem;
  color: #ffcc00;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.food .box-container .box:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.food .btn {
  position: relative;
  z-index: 300;
  color: #ffcc00;
  background: #113443;
}
.food .btn:hover {
  color: #fff;
  background: #ffcc00;
}

/* Ask section */

.ask {
  background: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.9)
    ),
    url(../img/fluffy.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.ask .row {
  display: flex;
  background: #fff;
  margin: 2rem 0;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.ask .row .heading h1 {
  color: var(--dark);
}

.ask .row .image {
  flex: 1 1 40%;
}

.ask .row .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ask .row form {
  flex: 1 1 60%;
  background: #fff;
  padding: 2rem;
}

.ask .row form .box {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  color: #113443;
  text-transform: none;
  background: #eaf3f6;
  width: 100%;
}

.ask .row form .question {
  resize: none;
  height: 10rem;
}

.ask .row form .box::placeholder {
  text-transform: capitalize;
}

.footer {
  background: #113443;
  padding: 1rem 7%;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 15rem;
  margin: 0;
}

.footer .box-container .box h3 {
  font-size: 1.5rem;
  color: #bfdfed;
  padding: 0.3rem 0;
}
.footer .box-container .box p {
  font-size: 1rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box a {
  font-size: 1rem;
  color: #fff;
  padding: 0.2rem 0.3rem;
  text-decoration: none;
  display: block;
}

.footer .box-container .box a:hover {
  color: #ffcc00;
  font-weight: 700;
}

.box hr {
  border-bottom: 1px solid #ffcc00;
}
/* ================================================================================================================== */
/* Media Queries */

@media (max-width: 991px) {
  html {
    font-size: 100%;
  }
  /* .home::before,
  .home::after {
    display: none;
  } */
}

@media (max-width: 768px) {
  header .logo img {
    height: 50%;
    margin-left: -70px;
  }
  header #menu-bar {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 8rem;
    left: 0;
    width: 100%;
    background: var(--ultra);
    border-top: 2rem solid #113443;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    transition: 1s;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 2rem;
  }
  header .navbar ul li {
    margin: 1.5rem;
    width: 100%;
  }
  header .navbar ul li a {
    font-size: 2.5rem;
    display: block;
    color: var(--dark);
    padding-left: 2rem;
    border-left: 0.2rem solid #113443;
  }
  header .navbar ul li a:hover,
  header .navbar ul li a.active {
    border-left: 8px solid #ffcc00;
  }
  .fa-times {
    transform: rotate(180deg);
    transition: 1s;
  }
  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
    transition: 1s;
  }

  .heading {
    text-align: center;
    font-size: 3rem;
    padding: 0.8rem 0.5rem;
    color: #113443;
  }
  .home .content {
    text-align: center;
  }
  .home .content h3 {
    font-size: 2rem;
  }
  .sleep .row {
    flex-wrap: wrap;
  }
  section .food {
    min-height: 100vh;
    padding: 5.5rem 10% 1rem;
    padding-top: 5.5rem;
  }
  .food .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  .food .box-container .box {
    width: 100%;
  }
  .ask .row .image {
    display: none;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 80%;
  }
  section {
    padding: 15px 5%;
  }
  .home .content h3 {
    margin-top: 1rem;
    padding-bottom: 2rem;
    font-size: 3.2rem;
  }
  header .logo img {
    width: 50%;
    margin-left: 5px;
  }

  .heading {
    text-align: center;
    font-size: 2.2rem;
    padding: 1rem 0.5rem;
    color: #bfdfed;
  }
  .fur .image {
    margin-top: 5rem;
    flex: 1 1 20rem;
    height: 25rem;
  }
  .fur .content {
    flex: 1 1 32rem;
    padding: 2rem;
  }

  .fur .content h3 {
    text-align: center;
    font-size: 2.2rem;
    color: #ffcc00;
  }

  .fur .content p {
    font-size: 1rem;
    color: var(--dark);
    padding: 5px 0;
  }
  .fur .btn {
    margin-left: 80px;
  }
  .sleep .row {
    flex-wrap: wrap;
  }
  .sleep .list .btn {
    text-align: center;
    width: 130px;
    margin: 10px;
  }
  .btn {
    width: 150px;
    padding: 5px 10px;
  }
  .toys .heading {
    color: var(--dark);
  }
  .toys .box-container .box {
    background: #fff;
    width: 35rem;
    padding: 10px;
    margin: 10px;
  }

  .home .content h3 {
    margin-top: 2rem;
  }
  .toys .heading {
    margin-top: 6rem;
  }
  .sleep .heading {
    margin-top: 4rem;
  }
  .food .heading {
    padding: 2rem;
  }

  .food .box-container .box {
    width: 30rem;
    padding: 10px;
    margin: 10px;
  }
  .food .box-container .box h3 {
    margin-top: 4rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    z-index: 1;
  }
  .food .box-container .box:hover h3 {
    top: 10%;
    opacity: 1;
    transition-delay: 0.5s;
  }
  .ask .heading {
    margin-top: 5rem;
    color: var(--dark);
  }
  .box hr {
    border-bottom: 1px solid #ffcc00;
  }
  .footer .box-container .box h3 {
    text-align: center;
    font-size: 2.5rem;
    color: #ffcc00;
    padding: 0.3rem 0;
  }
  .footer .box-container .box p {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 100;
    padding: 1rem 0;
  }

  .footer .box-container .box a {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;
    color: #fff;
    padding: 0.2rem 0.3rem;
    text-decoration: none;
    display: block;
  }
}
